
<h3 class='d-flex justify-content-between mb-5'>
    <h1>Authors</h1>
     <%=link_to 'All Articles', root_path, class: 'btn btn-primary' %>
</h3>
 <% @authors.each do |author| %>

  <%= link_to author, class: 'text-decoration-none' do%>
  <div class="card mb-3 mt-4">
    <div class="card-body">
      <h5 class="card-title text-dark"> <%= author.full_name %> </h5>
      <p class="card-email text-dark"> <%= author.email %> </p>
    </div>
  </div>
  <% end %>

 <%end%>

